seed: 42
device: "cuda"   # set to "cpu" if no NVIDIA GPU

data:
  root: "data/flickr8k"
  images_dir: "Images"
  captions_file: "Flickr8k.token.txt"
  train_list: "Flickr_8k.trainImages.txt"
  val_list: "Flickr_8k.devImages.txt"
  test_list: "Flickr_8k.testImages.txt"
  max_len: 40
  min_word_freq: 3

train:
  batch_size: 64
  epochs: 15
  lr:  0.0003
  weight_decay: 0.0001
  grad_clip: 2.0
  num_workers: 2
  save_dir: "runs/flickr8k_mid"
  print_every: 50
  beam_size_eval: 5
  amp: true

model:
  embed_dim: 256
  hidden_dim: 512
  attn_dim: 512
  dropout: 0.3
  fine_tune_encoder: false
