seed: 42
device: "cuda"   # set to "cpu" if no NVIDIA GPU

data:
  root: "/workspace/data/flickr8k" # "/content/drive/MyDrive/data/flickr8k" #"data/flickr8k"
  images_dir: "images"
  captions_file: "Flickr8k.token.txt"
  train_list: "Flickr_8k.trainImages.txt"
  val_list: "Flickr_8k.devImages.txt"
  test_list: "Flickr_8k.testImages.txt"
  max_len: 50
  min_word_freq: 3

train:
  batch_size: 32           # ↓ meglio per fine-tune encoder e stabilità
  epochs: 60               # ↑ ma con early stopping
  lr: 3e-4                 # leggermente più stabile di 4e-4
  lr_encoder: 2e-5         # ↑ un filo più alto (grounding migliore)
  unfreeze_encoder_epoch: 2

  weight_decay: 1e-2
  grad_clip: 5.0
  num_workers: 4
  print_every: 50

  beam_size_eval: 3        # ↓ spesso meno “template” di 5
  amp: true
  pin_memory: true
  persistent_workers: true

  alpha_c: 0.5             # ↓ meno “vincolo”, spesso migliora caption specifiche
  early_stop_patience: 10

  save_dir: "/workspace/runs/flickr8k_mid_run1" #"/content/drive/MyDrive/runs/flickr8k_mid_run1" # "runs/flickr8k_mid"

model:
  embed_dim: 256
  hidden_dim: 512
  attn_dim: 512
  dropout: 0.4
  fine_tune_encoder: false
