seed: 42
device: "cuda"   # set to "cpu" if no NVIDIA GPU

data:
  root: "/content/drive/MyDrive/data/flickr8k" #"data/flickr8k"
  images_dir: "Images"
  captions_file: "Flickr8k.token.txt"
  train_list: "Flickr_8k.trainImages.txt"
  val_list: "Flickr_8k.devImages.txt"
  test_list: "Flickr_8k.testImages.txt"
  max_len: 40
  min_word_freq: 3

train:
  batch_size: 64
  epochs: 25
  lr:  4e-4
  lr_encoder: 1e-5
  weight_decay: 1e-2
  grad_clip: 5.0
  num_workers: 2
  save_dir: "runs/flickr8k_mid" #"/content/drive/MyDrive/runs/flickr8k_mid"  
  print_every: 50
  beam_size_eval: 5
  amp: true
  pin_memory: true
  persistent_workers: true
  unfreeze_encoder_epoch: 3

  alpha_c: 1.0              
  early_stop_patience: 10
  lr_decay_every: 4
  lr_decay_gamma: 0.8

model:
  embed_dim: 256
  hidden_dim: 512
  attn_dim: 512
  dropout: 0.3
  fine_tune_encoder: false
